{% extends 'layouts.html' %}
{% block title %}
Show Details
{% endblock %}
{% block content %}
    <form class="show_selector" method='POST' action="{{ url_for('selected_show_from_dropdownlist') }}">
        <label for="show_selector_dropdown_btn">Choose a Show:</label>
        <select name="show_selector_dropdown_btn">
        <option value="default_value">-- Not selected --</option>
        {% for show in shows %}
            <option value='{{ show['id'] }}'>{{ show['title'] }}</option>
        {% endfor %}
        </select>
    <button type="submit">Go</button>
    </form>
{% endblock %}