<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %} - Film-e-ZZ</title>
    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand text-white">
            <img id="header-logo" src="{{ url_for('static', filename='assets/movie-3.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Film-e-ZZ Logo">
            Film-e-ZZ
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Shows List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('most_rated_shows') }}">Most Rated Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search_show_by_title') }}">Search By Title</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('get_all_actors') }}">Actors List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('most_active_actors') }}">Most Active Actors</a>
                </li>
            </ul>
            <span class="navbar-text">
                <form class="d-flex flex-row">
                    {% if 'username' not in session %}
                    <a class="btn btn-secondary mx-1" href="{{ url_for('user_registration') }}">Register</a>
                    <a class="btn btn-secondary mx-1" href="{{ url_for('user_login') }}">Login</a>
                    {% else %}
                    <p class="text-center m-auto">Signed in {{ username }}</p>
                    <a class="btn btn-secondary mx-1" href="{{ url_for('user_logout') }}">Logout</a>
                    {% endif %}
                </form>
            </span>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="footer fixed-bottom bg-dark">
        <div class="container text-center">
            <span class="text-muted">
                Copyright, Coding Bear Studio | 2022
            </span>
        </div>
    </footer>
    <script src="../static/js/app.js"></script>
</body>
</html>