{% extends 'Layout.html' %}
{% block title %}Show Details{% endblock %}
{% block head %}<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />{% endblock %}
{% block content %}
        <h1 class="title text-center">Show details</h1>

        <div class="card detailed-view">
            {% for show_details in show %}
            <div class="row">
                {% if show_details['trailer'] == None %}
                <img src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg" class="poster col col-third"></img>
                {% else %}
                <iframe id="player" class="poster col col-third" type="text/html" width="640" height="390"
                    src="http://www.youtube.com/embed/{{ show_details['trailer'][27:] }}" frameborder="0">
                </iframe>
                {% endif %}

                <div class="col col-twothird">
                    <h2>{{ show_details['title'] }}</h2>
                    <p class="small grayed"> {{ show_details['runtime'] }} min <span class="separator">|</span> {{ show_details['genres'] }} <span
                            class="separator">|</span> {{ show_details['year'] }} <span class="separator">|</span> Rating: <span id="show_rating">{{ '%0.1f' | format(show_details['rating'] | float) }}</span> <span> </span> <span id=stars></span></p>
                    <br>
                    <p><b>{{ show_details['overview'] }}</b></p>
                    <br>
                    <p><b>Stars:</b>&nbsp;{% for actor in actors %} {{ actor['character_name'] }} (<a href="/actor/{{ actor['actor_id'] }}">{{ actor['name'] }}</a>), {% endfor %} </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="card">
            {% for show_details in show %}
            <h2 class="text-center">{{ show_details['title'] }} - seasons:</h2>
            {% endfor %}
            <table>
                <thead>
                    <th></th>
                    <th>Title</th>
                    <th>Overview</th>
                </thead>
                <tbody>
                {% for season_details in seasons %}
                    {% if season_details['overview'] == None and season_details['season_number'] == 0 %}

                    {% else %}
                    <tr>
                        <td>{{ season_details['season_number'] }}</td>
                        <td>{{ season_details['title'] }}</td>
                        <td>{{ season_details['overview'] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            const rating = document.getElementById('show_rating').innerHTML
            document.getElementById("stars").innerHTML = getStars(rating);

            function getStars(rating) {

                // Round to nearest half
                rating = Math.round(rating * 2) / 2;
                let output = [];

                // Append all the filled whole stars
                for (var i = rating; i >= 1; i--)
                    output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                // If there is a half a star, append it
                if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                // Fill the empty stars
                for (let i = (5 - rating); i >= 1; i--)
                    output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                return output.join('');

            }
        </script>

{% endblock %}